DATABASE_URL=postgres://runway:runway@localhost:5432/runway
DATABASE_URL_TEST=postgres://runway:runway@localhost:5433/runway_test
APP_PORT=3000
REVIEW_WINDOW_HOURS_DEFAULT=48
WORKER_TICK_MS=60000
WORKER_STALENESS_MS=900000
WORKER_MAX_PAGES=10
WORKER_CONCURRENCY=3
WORKER_MAX_RETRIES=3
FEED_BASE_URL=https://itunes.apple.com
